.App {
  max-width: 768px;
  margin: auto;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
  }
  .App-logo:hover {
    animation: App-logo-spin infinite 0.666s linear;
    height: 50px;
    padding-bottom: 10px;
  }

  .App-body{
    text-align: center;
    background-color:black;
    float: left;
    
  }
  .App-header {
    text-align: center;
    background-color: #222;
    padding: 20px;
    color: white;
    height: 140px;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
    
  }

  .App-info{
    width: 263px;
    background:grey;
    float:left;
    height: 506px;
    margin-top: 1px;
  }

  .App-logout{
    color:white;
    background: #222;
    float: right;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
